*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    margin-bottom: 150px;
}
.quantidade{
    width: 80%;
    height: 30;
    font-size: 18px;
    white-space: nowrap;
}
.box-produto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: "100%";
    max-width: 250px;
}

.minha-vitrine{
    display: flex;
    gap: 20px;
    
    
}

.image{
    border-radius: 5px;
    width: 180px;
    height: 170px;
    padding-bottom: 5px;
}


.titulo{
    text-align: center;
}


.preco-antigo{
    text-decoration: line-through;
    color: #A3A9B9;
}
.minha-vitrine .preco{
    font-weight: bold;
    font-size: 22px;
}
.miniaturas{
    display: flex;
    gap: 5px;
}
.miniatura{
    width: 50px;
    height: 50px;
    padding-top: 20px;
}
.submit{
    padding: 15px 20px;
    margin-top: 10px;
    background-color: white;
    color: #5E697C;
    border-color: #5E697C;
    border: 1px solid;
    cursor: pointer;
    
}

@media screen and (max-width: 1000px) {
    .minha-vitrine {
        width: 100%;
        flex-wrap: wrap; 
        justify-content: center;     
    }
}
@media screen and (max-width: 780px) {
    .minha-vitrine {
        flex-direction: column;
        justify-content: center;
        align-items: center;    
    }
    .minha-vitrine .image{

        width: 200px;
        height: 200px;
    }
}